@page
@model OperationControl.Pages.Control1Model
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
        <label for="toolCount">How many tools do you have?</label>
        <form method="post">
            <input type="number" id="ToolCount" name="ToolCount" min="1" value="5">
            <button type="submit">Continue</button>
        </form>
    </div>
</body>
</html>