@page
@model OperationControl.Pages.Control1Model
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barras</title>
</head>
<body>
    <div class="container">
        <label for="barCount">How many tools do you have?</label>
        <input type="number" id="ToolCount" min="1" value="10">  
        <a href="Control1_1"><button style="background-color:white;  color:blue">Continue</button></a>
    </div>
</body>
</html>
