@page
@model DesksModel
@{
    ViewData["Title"] = "Desks";
}

<h1>@ViewData["Title"]</h1>


<a href="Control1"><button style="background-color:white; color:black">Desk 1</button></a>
<a href="Desk2"><button style="background-color:white; color:black">Desk 2</button></a>
<a href="Desk3"><button style="background-color:white; color:black">Desk 3</button></a>

