@page
@model IndexModel
@{
    ViewData["Title"] = "Login";
}

<style>
    .custom-container {
        max-width: 400px;
        margin: auto;
        text-align: center;
        margin-top: 80px;
    }

    .custom-form {
        margin-top: 20px;
    }

    .custom-input {
        width: 100%;
        padding: 8px;
        font-size: 14px;
        margin-bottom: 10px;
    }

    .custom-button {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        margin-top: 30px;
    }

    .custom-heading {
        font-size: 25px;
        margin-bottom: 10px;
    }
</style>

<div class="custom-container">
    <div class="text-center">
        <h1 class="display-18 custom-heading">Sign in to OperationControl</h1>
        <p>‎ </p>
    </div>

    <div class="custom-form">
        <form>
            <div class="form-group">
                <label for="employeeId">Employee ID:</label>
                <input type="text" class="form-control custom-input" id="employeeId" name="employeeId" style="background-color:white; border-color:blue; color:black" placeholder="Enter your employee ID">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control custom-input" id="password" name="password" style="background-color:white; border-color:blue; color:black" placeholder="Enter your password">
            </div>
        </form>
        <a href="Desks"><button type="submit" class="btn btn-primary custom-button" id="signInButton">Sign in</button></a>
    </div>
</div>